header {
  display: flex;
  justify-content: center;
}

.card-detalhes {
  width: 50%;
  padding: 3rem;
  box-shadow: 2px 2px 1px 0px #00000050;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff80;
  color: #000;
  text-decoration: none;
}

.card-detalhes img {
  width: 15rem;
  height: 15rem;
}

button {
  cursor: pointer;
  background: rgb(151, 61, 179);
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  margin-left: -45px;
  text-shadow: 0 1px 1px rgb(3, 3, 3);
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

button:hover {
  background-color: rgb(238, 40, 106);
  color: #fff;
  transform: scale(1.1);
}