destaques__principal {
    background: url('../img/fortnite.jpg') center / cover no-repeat;
    grid-row: 1 / 3;
}

.destaques__secundario:nth-child(2) {
    background: url('../img/pubg.jpg') center / cover no-repeat;
}