section#sobre {
  display: flex;
  margin: auto;
  width: 20rem;
  margin-top: 60px;
  background-color: #c707f7;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 1rem #00000060;
}

section#sobre div#infos p {
  font-size: 2rem;
  padding-bottom: 3rem;
  font-family: 'Courier New', Courier, monospace;
  -webkit-text-stroke-width: 2px;
  color: rgb(244, 245, 248);

}

section#sobre div#infos div#info-datail {

  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 90%;
  border-radius: 1rem;
}

section#sobre div#infos div#info-datail h3 {
  font-size: 1rem;
  padding: 0.5rem 0 1rem 0;
  font-family: 'Courier New', Courier, monospace;

}

section#sobre div#infos h3 {
  padding-top: 3rem;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(110, 109, 109);
}